:host ::ng-deep  .p-dropdown-empty-message{
    text-align: center;
}

::ng-deep  .p-listbox-empty-message{
    text-align: center;
}

._input-text{
    background: transparent !important;
    border-radius: 0px !important;
}

._input-value{
    background: transparent !important;
    border-radius: 0px !important;
}