<full-calendar [options]="calendarOptions">
    <ng-template #eventContent let-arg>
        <div *ngIf="menuItems?.length else sOnlyText" (mouseenter)="toggleIcon(true, arg.event.id)" (mouseleave)="toggleIcon(false, arg.event.id)" style="position: relative;" class="fc-event-main-frame">
            <app-calendar-menu-item [toggleIcon]="showedIcons[arg.event.id]" [id]="arg.event.id" [menuItems]="menuItems" ></app-calendar-menu-item>                   
            <div class="fc-event-title-container">
                <span class="fc-event-title fc-sticky" style="position: relative; color:{{arg.event.backgroundColor | darkenColor}};">{{ arg.event.title }}</span>
            </div>
        </div>           
        <ng-template #sOnlyText>
            <div class="fc-event-title-container">
                <span class="fc-event-title fc-sticky" style="color:{{arg.event.backgroundColor | darkenColor}};">{{ arg.event.title }}</span>
            </div>
        </ng-template>
    </ng-template>
</full-calendar>