<full-calendar #fullCalendar [options]="calendarOptions">
    <ng-template #eventContent let-arg>
        <div (mouseenter)="toggleIcon(true, arg.event.id)" (mouseleave)="toggleIcon(false, arg.event.id)" style="position: relative;" class="fc-event-main-frame">
            <app-calendar-menu-item  *ngIf="menuItems?.length" [toggleIcon]="showedIcons[arg.event.id]" [id]="arg.event.id" [menuItems]="menuItems" ></app-calendar-menu-item>                   
            <div (click)="detailOfEventOverlayPanel.toggle($event)" class="fc-event-title-container cursor-pointer p-0">
                <div class="fc-event-title fc-sticky p-0" >
                    <ng-container *ngTemplateOutlet="eventContentTemplate || eventContentTemplateDefault ; context:{ $implicit: arg.event, data: arg.event.extendedProps.data }"></ng-container>
                </div>
            </div>
            <p-overlayPanel #detailOfEventOverlayPanel [showCloseIcon]="false" [style]="{ 'max-width': '75%' }">
                <ng-template pTemplate>
                    <ng-container *ngTemplateOutlet="overlayContentTemplate || overlayContentTemplateDefault ; context:{ $implicit: arg.event, data: arg.event.extendedProps.data }"></ng-container>
                </ng-template>
            </p-overlayPanel>
        </div>           
    </ng-template>
</full-calendar>

<ng-template #overlayContentTemplateDefault let-event>
    <div class="flex align-items-center w-full">
        <span class="text-left text-500 ml-2">{{event.title}}</span>
    </div>
</ng-template>

<ng-template #eventContentTemplateDefault let-event>
   <div class="px-2 py-1">
        <span style="color:{{event.backgroundColor | darkenColor}};">{{event.title }}</span>
   </div>
</ng-template>
