:host ::ng-deep .fc-toolbar-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    color: var(--surface-500);
}
:host ::ng-deep .fc-header-toolbar{
    margin-bottom: 0.5rem !important;
    flex-wrap: wrap;
}

:host ::ng-deep .fc-dayGridWeek-button,
:host ::ng-deep .fc-dayGridMonth-button,
:host ::ng-deep .fc-dayGridYear-button {
    background-color: var(--primary-color) !important; 
    color: var(--primary-color-text) !important;
    border: var(--primary-color) !important; 
}

:host ::ng-deep .fc-button-active{
    font-weight: 500 !important;
}

:host ::ng-deep a.fc-daygrid-event{
    border: none !important;
}

:host ::ng-deep .fc-scrollgrid{
    border-radius: var(--border-radius);
}

:host ::ng-deep .fc-scrollgrid-section-header th[role="presentation"], 
:host ::ng-deep .fc-scrollgrid-section-header th[role="presentation"] .fc-scroller-harness{
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

:host ::ng-deep .fc-scrollgrid-section-body td[role="presentation"]{
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

