<div class="card">
    <div class="flex align-items-center justify-content-between mb-4">
      <div class="flex align-items-center">
        <div
          class="w-3rem h-3rem flex align-items-center justify-content-center bg-primary-100 border-circle mr-3 flex-shrink-0">
          <i class="pi pi-arrow-right-arrow-left text-xl text-primary-500"></i>
        </div>
        <div class="flex flex-column ">
          <h5 class="m-0 text-700">Variable primaria</h5>
          <span class="text-500">Configura y administra las variables primarias</span>
        </div>
      </div>
    </div>
    <form class="p-0" [formGroup]="formPrimaryVariable">
        <div class="field p-fluid">
            <label htmlFor="nombre" class="font-medium">Nombre</label>
            <input pInputText id="nombre" type="text" aria-describedby="text-help" formControlName="nombre"/>
            <div *ngIf="formPrimaryVariable.controls['nombre'].errors && (formPrimaryVariable.controls['nombre'].touched||formPrimaryVariable.controls['nombre'].dirty)">
                <div *ngIf="formPrimaryVariable.controls['nombre'].errors?.['required']">
                    <small id="text-help" class="p-error">Ingrese un nombre</small>
                </div>
            </div>
        </div>

        <div class="field p-fluid">
            <label htmlFor="descripcion"><span class="font-medium">Descripción</span><span> (opcional)</span></label>
            <textarea id="descripcion" rows="5" cols="30" placeholder="Escribe aquí..." pInputTextarea formControlName="descripcion" autocomplete="off"></textarea>
            <div *ngIf="formPrimaryVariable.controls['descripcion'].errors && (formPrimaryVariable.controls['descripcion'].touched||formPrimaryVariable.controls['descripcion'].dirty)">
                <div *ngIf="formPrimaryVariable.controls['descripcion'].errors?.['required']">
                    <small id="text-help" class="p-error">Ingrese una descripción</small>
                </div>
            </div>
        </div>

        <div class="field p-fluid flex align-items-center">
            <label htmlFor="estado" class="font-medium mr-2">Estado</label>
            <p-inputSwitch id="estado" formControlName="estado"></p-inputSwitch>
        </div>

        <div class="field p-fluid">
          <label htmlFor="valor" class="font-medium">Expresión del valor</label>
          <input pInputText id="valor" type="text" aria-describedby="text-help" formControlName="valor"/>
          <div *ngIf="formPrimaryVariable.controls['valor'].errors && (formPrimaryVariable.controls['valor'].touched||formPrimaryVariable.controls['valor'].dirty)">
            <div *ngIf="formPrimaryVariable.controls['valor'].errors?.['required']">
              <small id="text-help" class="p-error">Ingrese una expresión</small>
            </div>
          </div>
        </div>

        <app-form-action-button [updateMode]="updateMode"
            (createOrUpdate)="onSubmitVariable($event)"
            (cancel)="onCancelVariable($event)"
            (delete)="onDeleteVariable($event)"
            [showDeleteButton] = "updateMode && !formPrimaryVariable.get('primaria')?.value"
            [creatingOrUpdating] = "creatingOrUpdating"
            [deleting] = "deleting"
            [disabledCreateOrUpdateButton] = "formPrimaryVariable.invalid"
            [deleteMessage]="DELETE_MESSAGE"
            >
        </app-form-action-button>
    </form>
</div>
