<ng-container *ngIf="!loading else sLoading">
  <div *ngIf="!typologies else data">
    <app-go-to-if-not-found [imageSize]="IMAGE_SIZE.LARGE" [buttonLabel]="'Crear nuevo rol'" (go)="openNew()" [message]="MESSAGE.NO_REGISTROS_PROCEDE_CREAR"></app-go-to-if-not-found>
  </div>
  <ng-template #data>
    <div class="card p-0 pb-2">
      <p-table #dt [value]="typologies" rowGroupMode="subheader" sortMode="single" [paginator]="true" [rows]="10" [(selection)]="selectedTypoligies"
               selectionMode="multiple" [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true" [tableStyle]="{'border-circle': '50px'}"
               [globalFilterFields]="['tipologiaSiguiente.nombre', 'nombre', 'claseIcono', 'nombreColor', 'esDependencia', ]"
               currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros" dataKey="id">
        <ng-template pTemplate="caption">
          <div class="flex flex-wrap justify-content-between border-round-top-xl surface-100 p-3">
            <div class="flex align-items-center flex-wrap">
              <button pButton pRipple icon="pi pi-plus" class="p-button-success m-1" (click)="openNew()" pTooltip="Nuevo" tooltipPosition="bottom">
                <span class="p-button-label hidden-lg pl-2">Nuevo</span>
              </button>
              <div class="_badge-container m-1">
                <button pButton pRipple icon="pi pi-trash" style="position: relative;" (click)="deleteSelectedTypology()" pTooltip="Eliminar"
                        tooltipPosition="bottom" class="p-button-danger " [disabled]="!selectedTypoligies?.length">
                  <span class=" p-button-label pl-2 hidden-lg">Eliminar</span>
                </button>
                <span *ngIf="selectedTypoligies?.length" (click)="desmarkAll()" class="_badge"
                      pTooltip="Click para desmarcar">{{ selectedTypoligies.length }}</span>
              </div>
            </div>
            <div class="m-1">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="search" pInputText placeholder="Buscar" (input)="onGlobalFilter(dt, $event)">
              </span>
            </div>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th class="text-center" style="white-space: nowrap;" pSortableColumn="nombre">
              Nombre
              <p-sortIcon field="nombre"></p-sortIcon>
            </th>
            <th class="text-center" style="white-space: nowrap;" pSortableColumn="esDependencia">
              Es dependencia
              <p-sortIcon field="esDependencia"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-typology>
          <tr>
            <td>
              <p-tableCheckbox [value]="typology"></p-tableCheckbox>
            </td>
            <td pRipple class="cursor-pointer" (click)="editTypology(typology.id)">
              <div class="flex align-items-center ">
                <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-{{typology.nombreColor}}-100 border-circle flex-shrink-0">
                  <i class="pi {{typology.claseIcono}} text-xl text-{{typology.nombreColor}}-500"></i>
                </div>
                <div class="flex flex-column ml-2">
                  <span class="font-medium">{{ typology.nombre | titlecase }}</span>
                  <span *ngIf="typology.idTipologiaSiguiente" class="text-500 text-sm">Siguiente: <span class="text-blue-500">{{ typology.tipologiaSiguiente.nombre }}</span></span>
                </div>
              </div>
            </td>
            <td class="text-center">
              <i class="pi" [ngClass]="{'true-icon pi-check-circle text-green-500': typology.esDependencia == 1, 'false-icon pi-times-circle text-pink-500': typology.esDependencia == 0}"></i>
            </td>
            <td class="text-center">
              <div class="flex align-items-center justify-content-end">
                <app-menu-item [menuItems]="items" [id]="typology.id" [value]="typology" ></app-menu-item>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4" class="text-center">{{ MESSAGE.NO_REGISTROS }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-template>
</ng-container>

<ng-template #sLoading>
  <app-skeleton-list-grid [isList]="true"></app-skeleton-list-grid>
</ng-template>
