<div *ngIf="!loading else sLoading" class="grid grid-nogutter">
    <div class="flex flex-column mb-2 mx-1 col-12">
      <h5 class="m-0 text-700">Estructuras</h5>
      <span class="text-500">Resumen de información de interés de las estructuras</span>
    </div>
    <div *ngFor="let item of inventory" class="col-12 md:col-6 lg:col-{{12/inventory.length}} p-1">
        <app-label-value-chart label="{{item.nombre | pluralize}}" [value]="item.cantidad" colorName="{{item.nombreColor}}"
            iconClass="{{item.claseIcono}}">
            <ng-template pTemplate="value-content" let-data>
                <ng-container *ngTemplateOutlet="Template; context:{$implicit: data}"></ng-container>
            </ng-template>
        </app-label-value-chart>
    </div>
</div>

<ng-template #Template let-item>
    <div class="flex flex-row align-items-baseline">
        <span class="text-500 text-2xl font-medium mr-1">{{item}}</span>
        <span class="text-sm text-500">{{'Existente' | pluralize : item}}</span>
    </div>
</ng-template>

<ng-template #sLoading>
    <app-head-skeleton></app-head-skeleton>
</ng-template>
