.background-dark {
    background-image: url('/assets/layout/images/login_background-dark.png');
    background-size: cover;
    background-repeat: no-repeat; 
}

.background-white {
    background-image: url('/assets/layout/images/login_background-white.png');
    background-size: cover;
    background-repeat: no-repeat; 
}