._button-container {
  position: relative;
  display: inline-block;
}

._button-icon {
  position: absolute;
  top: -5px;
  right: -20px;
  padding: 3px 8px;
  z-index: 1;
}

._image-container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;

  img {
    vertical-align: middle;
    width: 100%;
    object-fit: contain;
  }
}

._profile-card {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid var(--surface-border);
  border-radius: 0.75rem;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  background: linear-gradient(to bottom, var(--primary-300), #ffffff00 85px);
}

::ng-deep .p-listbox-empty-message {
  text-align: center;
}