._button-container {
    position: relative;
    display: inline-block; 
}

._button-icon {
    position: absolute;
    top: -5px;
    right: -20px; 
    padding: 3px 8px;
    z-index: 1;
}

::ng-deep  .p-listbox-empty-message{
    text-align: center;
}