<div class="card">
  <div class="flex align-items-center justify-content-between mb-4">
    <div class="flex align-items-center">
      <div
        class="w-3rem h-3rem flex align-items-center justify-content-center bg-primary-100 border-circle mr-3 flex-shrink-0">
        <i class="pi pi-users text-xl text-primary-500"></i>
      </div>
      <div class="flex flex-column ">
        <h5 class="m-0 text-700">Rol</h5>
        <span class="text-500">Administra y define los roles de usuario en el sistema.</span>
      </div>
    </div>
  </div>

  <form class="p-0" [formGroup]="formRol">
    <div class="grid">
      <div class="field p-fluid col-12 xl:col-6 m-0">
        <label htmlFor="nombre" class="font-medium">Nombre</label>
        <input type="text" id="nombre" pInputText formControlName="nombre">
        <div *ngIf="nombreNoValido">
          <div *ngIf="controls['nombre'].errors?.['required']">
            <small class="p-error">Ingrese el nombre</small>
          </div>
        </div>
      </div>
      <div class="field p-fluid col-12 xl:col-6 m-0">
        <label htmlFor="codigo" class="font-medium">Código</label>
        <input type="text" id="codigo" pInputText formControlName="codigo">
        <div *ngIf="codigoNoValido">
          <div *ngIf="controls['codigo'].errors?.['required']">
            <small class="p-error">Ingrese el código</small>
          </div>
        </div>
      </div>
    </div>
    <app-form-action-button [updateMode]="updateMode"
                             (createOrUpdate)="onSubmitRol($event)"
                            (cancel)="onCancelRol($event)"
                             (delete)="onDeleteRol($event)"
                            [showDeleteButton]="updateMode"
                            [creatingOrUpdating]="creatingOrUpdating"
                             [deleting]="deleting"
                            [disabledCreateOrUpdateButton]="formRol.invalid">
    </app-form-action-button>
  </form>
</div>
