@media (min-width:  575.98px) {
    ._adjust-auto {
       width: 100%;
    }
}

@media (min-width: 767.98px) {
    ._adjust-auto {
       width: 50%;
    }
}

@media (min-width:  1199.98px) {
    ._adjust-auto {
       width: 25%;
    }
}