<div class="grid">
  <div class="col-12 md:col-4">
    <div class="card">
      <div class="flex flex-column align-items-center">
        <div class="_button-container">
          <div class="mb-3" style="width: 100px; height: 100px; border-radius: 50%; overflow: hidden; ">
            <img id="avatarPerson" [src]="personCopy?.srcFoto"
                 [appImageFallback]="'assets/content/images/image-fallback-perfil.png'"
                 style="vertical-align: middle; width: 100%; height: auto;"/>
          </div>
          <button pButton pRipple type="button" icon="pi pi-camera"
                  class="p-button-rounded p-button-text p-button-info _button-icon"
                  pTooltip="Seleccionar foto" tooltipPosition="bottom">
            <input class="cursor-pointer" id="foto" type="file" #fileInput (change)="onFileSelect(fileInput)"/>
          </button>
        </div>
        <div *ngIf="loadFile" class="_badge-container m-1">
          <p-message severity="info" text="{{fileInfo}}">
          </p-message>
          <span (click)="previewFoto(null)" class="_badge" pTooltip="Click para cancelar"><i
            class="pi pi-times"></i></span>
        </div>

        <span class="font-bold">
          {{ personCopy.primerNombre | uppercase }} {{ personCopy.primerApellido | uppercase }}
        </span>
        <span *ngIf="personCopy.documento" class="mb-3">
          <span>{{ personCopy.tipoDocumento?.abreviatura }}:</span> {{ personCopy.documento }}</span>
        <span *ngIf="personCopy.id" class="mb-2 font-medium text-500 ">Información de contacto:</span>
        <span *ngIf="personCopy.correo" class="w-full">
          <span class="text-500">Correo: </span>{{ personCopy.correo | lowercase }}</span>
        <span *ngIf="personCopy.telefono" class="w-full">
          <span class="text-500">Teléfono: </span>{{ personCopy.telefono }}</span>
      </div>
    </div>
  </div>
  <div class="col-12 md:col-8">
    <div class="card">
      <form class="p-0" [formGroup]="formPerson">
        <h5>Información personal </h5>
        <div class="grid">
          <div class="field p-fluid col-12 sm:col-6 m-0">
            <label htmlFor="primerNombre" class="font-medium">Primer nombre</label>
            <input type="text" id="primerNombre" pInputText formControlName="primerNombre">
            <div *ngIf="nombrePrimeroNoValido">
              <div *ngIf="controls['primerNombre'].errors?.['required']">
                <small class="p-error">Ingrese un primer nombre</small>
              </div>
            </div>
          </div>

          <div class="field p-fluid col-12 sm:col-6 m-0 sm:pt-3 pt-0">
            <label htmlFor="segundoNombre" class="font-medium">Segundo nombre</label>
            <input type="text" id="segundoNombre" pInputText formControlName="segundoNombre">
          </div>
        </div>

        <div class="grid">
          <div class="field p-fluid col-12 sm:col-6 m-0">
            <label class="font-medium" for="primerApellido">Primer apellido</label>
            <input type="text" id="primerApellido" pInputText formControlName="primerApellido">
            <div *ngIf="apellidoPrimeroNoValido">
              <div *ngIf="controls['primerApellido'].errors?.['required']">
                <small class="p-error">Ingrese un primer apellido</small>
              </div>
            </div>
          </div>
          <div class="field p-fluid col-12 sm:col-6 m-0 sm:pt-3 pt-0">
            <label class="font-medium" for="segundoApellido">Segundo apellido</label>
            <input type="text" id="segundoApellido" pInputText formControlName="segundoApellido">
          </div>
        </div>
        <div class="grid">
          <div class="field p-fluid col-12 m-0">
            <label class="font-medium" for="idTipoDocumento">Tipo de documento</label>
            <p-dropdown id="idTipoDocumento" inputId="idTipoDocumento" [autoDisplayFirst]="false"
                        [options]="documentTypes" optionValue="id" optionLabel="descripcion" [filter]="true" [showClear]="true"
                        formControlName="idTipoDocumento"></p-dropdown>
            <div *ngIf="tipoDocumentoNoValido">
              <div *ngIf="controls['idTipoDocumento'].errors?.['required']">
                <small class="p-error">Seleccione un tipo de documento</small>
              </div>
            </div>
          </div>
          <div class="field p-fluid col-12 m-0 pt-0">
            <label class="font-medium" for="documento">Número de documento</label>
            <p-inputNumber id="documento" inputId="documento" formControlName="documento"></p-inputNumber>
            <div *ngIf="numeroDocumentoNoValido">
              <div *ngIf="controls['documento'].errors?.['required']">
                <small class="p-error">Ingrese un número de documento</small>
              </div>
            </div>
          </div>
          <div class="field p-fluid col-12 m-0 pt-0">
            <label class="font-medium" for="idGenero">Género</label>
            <p-dropdown id="idGenero" inputId="idGenero" [autoDisplayFirst]="false" [options]="genders" optionValue="id"
                        optionLabel="nombre" [filter]="true" [showClear]="true" formControlName="idGenero"></p-dropdown>
            <div *ngIf="generoNoValido">
              <div *ngIf="controls['idGenero'].errors?.['required']">
                <small class="p-error">Seleccione un género</small>
              </div>
            </div>
          </div>

        </div>
        <div class="grid">
          <div class="field p-fluid col-12 sm:col-6 m-0">
            <label class="font-medium" for="correo">Correo electrónico</label>
            <span class="p-input-icon-right">
                <i class="pi pi-at"></i>
                <input type="email" id="correo" pInputText formControlName="correo">
            </span>
            <div *ngIf="correoNoValido">
              <div *ngIf="controls['correo'].errors?.['required']">
                <small class="p-error">Ingrese un correo electrónico</small>
              </div>
            </div>
          </div>

          <div class="field p-fluid col-12 sm:col-6 m-0 sm:pt-3 pt-0">
            <label class="font-medium" for="telefono">Teléfono</label>
            <span class="p-input-icon-right">
              <i class="pi pi-phone"></i>
              <p-inputNumber id="telefono"
                             mode="decimal"
                             inputId="withoutgrouping"
                             [useGrouping]="false"
                             formControlName="telefono"></p-inputNumber>
            </span>
            <div *ngIf="telefonoNoValido">
              <div *ngIf="controls['telefono'].errors?.['required']">
                <small class="p-error">Ingrese un número de teléfono</small>
              </div>
            </div>
          </div>
        </div>
        <app-form-action-button [updateMode]="updateMode" (createOrUpdate)="onSubmitPerson($event)"
                                (cancel)="onCancelPerson($event)" (delete)="onDeletePerson($event)"
                                [showDeleteButton]="updateMode"
                                [creatingOrUpdating]="creatingOrUpdating" [deleting]="deleting"
                                [disabledCreateOrUpdateButton]="formPerson.invalid">
        </app-form-action-button>
      </form>
    </div>
  </div>
</div>
