<div class="grid">
    <div class="col-12 md:col-4">
        <div class="card">
            <div class="flex flex-column align-items-center">
                <div class="mb-3" style="width: 100px; height: 100px; border-radius: 50%; overflow: hidden; ">
                    <img [src]="personCopy?.srcFoto"
                        [appImageFallback]="'assets/content/images/image-fallback-perfil.png'"
                        style="vertical-align: middle; width: 100%; height: auto;" />
                </div>

                <span class="font-bold">{{personCopy.primerNombre | uppercase}} {{personCopy.primerApellido |
                    uppercase}}</span>
                <!-- <span class="mb-3"><span>{{person.tipoDocumento?.abreviatura}}:</span> {{person.numeroDocumento}}</span>
                <span class="mb-2 font-medium text-500 ">Información de contacto:</span>
                <span *ngIf="person.correo" class="w-full text-left"><span class="text-500">Correo: </span>
                    {{person.correo |
                    lowercase}}</span>
                <span *ngIf="person.telefono" class="w-full text-left"><span class="text-500">Teléfono: </span>
                    {{person.telefono}}</span>
                <span *ngIf="person.direccion" class="w-full text-left mb-2">
                <span class="text-500">Dirección: </span> {{person.direccion | capitalizeFirstLetter}}
                <span *ngIf="person.ciudadResidencia || person.paisResidencia">-
                <span *ngIf="person.ciudadResidencia">{{person.ciudadResidencia.nombre | capitalizeFirstLetter}}, </span>
                <span *ngIf="person.ciudadResidencia?.departamento.nombre">{{person.ciudadResidencia.departamento.nombre | capitalizeFirstLetter}}, </span>
                <span *ngIf="person.paisResidencia">{{person.paisResidencia.nombre | capitalizeFirstLetter}}</span>
                </span>
                </span> 
                <button pButton pRipple label="Ver más detalles" class="p-button-outlined p-button-info"></button>-->

                <ng-container *ngIf="personCopy.srcFoto != null; else agregarFoto">
                    <div class="my-5">
                        <button pButton pRipple icon="pi pi-pencil"
                            class="mr-2 p-button-rounded p-button-info p-button-outlined"></button>
                    </div>
                </ng-container>
                <ng-template #agregarFoto>
                    <div class="my-5">
                        <button pButton pRipple icon="pi pi-plus"
                            class="mr-2 p-button-rounded p-button-info p-button-outlined"></button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="col-12 md:col-8">
        <div class="card">
            <form class="p-0" [formGroup]="formPerson">
                <h5>Informacion De Persona </h5>
                <div class="grid">

                    <div class="field p-fluid col-12 sm:col-6 m-0">
                        <label htmlFor="primerNombre" class="font-medium">Primer Nombre</label>
                        <input type="text" id="primerNombre" pInputText
                            [(ngModel)]="person.primerNombre" formControlName="primerNombre">
                        <div *ngIf="nombrePrimeroNoValido">
                            <div *ngIf="controls['primerNombre'].errors?.['required']">
                                <small id="text-help" class="p-error">Ingrese nombre</small>
                            </div>
                        </div>
                    </div>

                    <div class="field p-fluid col-12 sm:col-6 m-0 sm:pt-3 pt-0">
                        <label htmlFor="segundoNombre" class="font-medium">Segundo Nombre</label>
                        <input type="text" id="segundoNombre" pInputText
                            [(ngModel)]="person.segundoNombre" formControlName="segundoNombre">
                        <div *ngIf="nombreSegundoNoValido">
                            <div *ngIf="controls['segundoNombre'].errors?.['required']">
                                <small id="text-help" class="p-error">Ingrese nombre</small>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="grid">

                    <div class="field p-fluid col-12 sm:col-6 m-0">
                        <label class="font-medium" for="primerApellido">Primer Apellido</label>
                        <input type="text" id="primerApellido" pInputText
                            [(ngModel)]="person.primerApellido" formControlName="primerApellido">
                        <div *ngIf="apellidoPrimeroNoValido">
                            <div *ngIf="controls['primerApellido'].errors?.['required']">
                                <small id="text-help" class="p-error">Ingrese apellido</small>
                            </div>
                        </div>
                    </div>

                    <div class="field p-fluid col-12 sm:col-6 m-0 sm:pt-3 pt-0">
                        <label class="font-medium" for="segundoApellido">Segundo Apellido</label>
                        <input type="text" id="segundoApellido" pInputText
                            [(ngModel)]="person.segundoApellido" formControlName="segundoApellido">
                        <div *ngIf="apellidoSegundoNoValido">
                            <div *ngIf="controls['segundoApellido'].errors?.['required']">
                                <small id="text-help" class="p-error">Ingrese apellido</small>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="grid">

                    <div class="field p-fluid col-12 m-0">
                        <label class="font-medium" for="tipoDocumento">Tipo Documento</label>
                        <p-dropdown inputId="tipoDocumento" [autoDisplayFirst]="false"
                            [options]="documentTypes" [(ngModel)]="person.tipoDocumento" optionLabel="descripcion"
                            formControlName="tipoDocumento"></p-dropdown>
                        <div *ngIf="tipoDocumentoNoValido">
                            <div *ngIf="controls['tipoDocumento'].errors?.['required']">
                                <small id="text-help" class="p-error">Seleccione el tipo de documento</small>
                            </div>
                        </div>
                    </div>

                    <div class="field p-fluid col-12 m-0 pt-0">
                        <label class="font-medium" for="numeroDocumento">Numero Documento</label>
                        <p-inputNumber inputId="numeroDocumento"
                            [(ngModel)]="person.numeroDocumento" formControlName="numeroDocumento"></p-inputNumber>
                        <div *ngIf="numeroDocumentoNoValido">
                            <div *ngIf="controls['numeroDocumento'].errors?.['required']">
                                <small id="text-help" class="p-error">Ingrese numero de documento</small>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="grid">

                    <div class="field p-fluid col-12 sm:col-6 m-0">
                        <label class="font-medium" for="correo">Correo Electronico</label>
                        <span class="p-input-icon-right">
                            <i class="pi pi-at"></i>
                            <input type="email" id="correo" pInputText [(ngModel)]="person.correo" formControlName="correo">
                        </span>
                            
                        <div *ngIf="correoNoValido">
                            <div *ngIf="controls['correo'].errors?.['required']">
                                <small id="text-help" class="p-error">Ingrese correo valido</small>
                            </div>
                        </div>
                    </div>

                    <div class="field p-fluid col-12 sm:col-6 m-0 sm:pt-3 pt-0">
                        <label class="font-medium" for="telefono">Telefono</label>
                        <span class="p-input-icon-right">
                            <i class="pi pi-phone"></i>
                            <p-inputMask id="telefono" mask="(999) 999-9999"
                                [(ngModel)]="person.telefono" placeholder="(999) 999-9999"></p-inputMask>
                        </span>
                        <div *ngIf="telefonoNoValido">
                            <div *ngIf="controls['telefono'].errors?.['required']">
                                <small id="text-help" class="p-error">Ingrese correo valido</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-wrap gap-2">
                    <p-button [disabled]="!formPerson.valid" label="Guardar" [loading]="loading[3]"
                        (onClick)="savePerson()"></p-button>
                </div>
            </form>
        </div>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="hideDialog()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                (click)="savePerson()"></button>
        </ng-template>
    </div>