::ng-deep  ._badge-container-dinamic {
    position: relative;
    display: inline-block;
}
  
::ng-deep ._badge-dinamic {
    cursor: pointer;
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: var(--primary-color);;
    color: white;
    border-radius: 50%;
    padding: 5px 5px;
    font-size: 5px;
    z-index: 1;
  
    & .pi-times{
      font-size: 10px;
    }
}

::ng-deep ._expression-dinamic:empty::before {
    content: "Ingresa tu expresión aquí...";
    color: gray;
  }