<ng-container *ngIf="!loading else sLoading">
  <div *ngIf="!compensations.length else data">
    <app-go-to-if-not-found [imageSize]="IMAGE_SIZE.LARGE" [buttonLabel]="'Crear nueva compensación laboral'" (go)="openNew()" [message]="MESSAGE.NO_REGISTROS_PROCEDE_CREAR"></app-go-to-if-not-found>
  </div>
  <ng-template #data>
    <div class="card p-0 pb-2">
      <p-table #dt [value]="compensations" rowGroupMode="subheader" sortMode="single" (onSort)="onSort()" (onFilter)="onFilter()" groupRowsBy="categoria.nombre" sortField="categoria.nombre"
               [paginator]="true" [rows]="numberOfRows" [(selection)]="selectedCompensations" selectionMode="multiple"  (rowsChange)="onRowsChange($event)"
               [globalFilterFields]="['nombre', 'descripcion', 'categoria.nombre']" [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true"
               currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros" dataKey="id" [tableStyle]="{'border-circle': '50px'}">
        <ng-template pTemplate="caption">
          <div class="border-round-top-xl surface-100 p-3">
            <p-menubar>
              <ng-template pTemplate="start">
                  <button *ngIf="isAdmin" pButton pRipple icon="pi pi-plus" class="p-button-success m-1" (click)="openNew()" pTooltip="Nuevo" tooltipPosition="bottom">
                      <span class="p-button-label hidden-lg pl-2">Nuevo</span>
                  </button>
                  <div *ngIf="isAdmin" class="_badge-container m-1 mr-2">
                      <button pButton pRipple icon="pi pi-trash" style="position: relative;" (click)="deleteSelectedCompensations()" pTooltip="Eliminar" tooltipPosition="bottom"
                          class="p-button-danger " [disabled]="!selectedCompensations?.length">
                          <span class=" p-button-label pl-2 hidden-lg">Eliminar</span>
                      </button>
                      <span *ngIf="selectedCompensations?.length"  (click)="desmarkAll()" class="_badge" pTooltip="Click para desmarcar">{{selectedCompensations.length}}</span>
                  </div>
              </ng-template>
              <ng-template pTemplate="end">
                <span class="p-input-icon-left m-1">
                  <i class="pi pi-search"></i>
                  <input class="w-full" type="search" pInputText placeholder="Buscar" (input)="applyFilterGlobal($event, 'contains')">
                </span>
              </ng-template>
            </p-menubar>
          </div>
        </ng-template>

        <ng-template pTemplate="header">
          <tr>
            <th *ngIf="isAdmin" style="width: 3rem">
              <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th class="text-center" style="min-width: 300px; white-space: nowrap" pSortableColumn="nombre">
              Compensación laboral
              <p-sortIcon field="nombre"></p-sortIcon>
            </th>
            <th class="text-center" style="white-space: nowrap" pSortableColumn="periodicidad.nombre">
              Periodicidad
              <p-sortIcon field="periodicidad.nombre"></p-sortIcon>
            </th>
            <th class="w-3rem"></th>
            <th></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-compensation let-rowIndex="rowIndex">
          <tr pRowGroupHeader *ngIf="rowGroupMetadata[compensation.idCategoria]?.index === rowIndex || rowIndex%numberOfRows==0">
            <td colspan="4">
                <div  class="flex flex-column">
                  <span class="font-medium">{{compensation.categoria.nombre | uppercase}}
                    <span class="text-500 font-normal" *ngIf="rowGroupMetadata[compensation.idCategoria]?.index !== rowIndex && rowIndex%numberOfRows==0">(continuación)</span>
                  </span>
                  <span class="text-500">{{compensation.categoria.descripcion}}</span>
                </div>
            </td>
            <td>
              <div class="flex align-items-center justify-content-end">
                <div class="mr-2">
                  <p-badge [value]="rowGroupMetadata[compensation.idCategoria]?.size ?? 0" severity="info" pTooltip="Total" tooltipPosition="bottom"></p-badge>
                </div>
                <app-menu-item [menuItems]="menuItemsOfCategory" [id]="compensation.idCategoria"></app-menu-item>
              </div>
            </td>
          </tr>
          <tr>
            <td *ngIf="isAdmin">
              <p-tableCheckbox [value]="compensation"></p-tableCheckbox>
            </td>
            <td pRipple class="cursor-pointer" (click)="onManagementCompensations(compensation.id, $event)">
              <div class="flex flex-column justify-content-start">
                <span class="font-medium">{{ compensation.nombre }}</span>
                <span class="text-500">{{ compensation.descripcion }}</span>
              </div>
            </td>
            <td>
              <span class="_periodicity-badge _periodicity-badge-{{compensation.periodicidad?.frecuenciaAnual}}">{{compensation.periodicidad?.nombre }}</span>
            </td>
            <td>
              <i class="pi p-3" [ngClass]="{'text-green-500 pi-verified': parseStringToBoolean(compensation.estado), 'text-red-500 pi-times-circle': !parseStringToBoolean(compensation.estado)}" pTooltip="Estado" tooltipPosition="bottom"></i>
            </td>
            <td>
              <div class="flex align-items-center justify-content-end">
                <app-menu-item [menuItems]="menuItemsOfCompesantion" [id]="compensation.id"></app-menu-item>
              </div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="4" class="text-center">{{ MESSAGE.NO_REGISTROS }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </ng-template>
</ng-container>

<ng-template #sLoading>
  <app-skeleton-list-grid [isList]="true"></app-skeleton-list-grid>
</ng-template>
