<div *ngIf="!loading else sLoading" class="grid grid-nogutter {{classStyle}}">
  <div class="flex flex-column mb-2 mx-1 col-12">
    <h5 class="m-0 text-700">Planes de trabajos</h5>
    <span class="text-500">Resumen de información de interés de los planes de trabajos</span>
  </div>
  <div *ngFor="let item of workplans" class="col-12 md:col-6 lg:col-{{12/workplans.length}} p-1">
    <div class="card p-3 h-full">
      <div class="flex justify-content-between">
        <div class="mr-2">
          <span class="block text-500">{{ item.nombre }}</span>
          <div class="flex flex-row align-items-baseline">
            <span class="text-500 text-2xl font-medium mr-1">{{ item.totalEtapas | number:'1.0-2' }}</span>
            <span class="text-xs text-500 mr-2">{{ 'Etapa' | pluralize: item.totalEtapas }}</span>
            <span class="text-500 text-2xl font-medium mr-1">{{ item.totalTareas | number:'1.0-2' }}</span>
            <span class="text-xs text-500">{{ 'Tarea' | pluralize: item.totalTareas }}</span>
          </div>
        </div>
        <div class="ml-auto pl-2">
          <app-percent [value]="Math.round((item.avance ?? 0)*10)/10" shape="circle" labelPosition="center" [size]="55"
                       [fontSize]="9"></app-percent>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #sLoading>
  <app-head-skeleton></app-head-skeleton>
</ng-template>
