<div class="card">
  <div class="flex align-items-center justify-content-between mb-4">
    <div class="flex align-items-center">
      <div
        class="w-3rem h-3rem flex align-items-center justify-content-center bg-primary-100 border-circle mr-3 flex-shrink-0">
        <i class="pi pi-circle text-xl text-primary-500"></i>
      </div>
      <div class="flex flex-column ">
        <h5 class="m-0 text-700">Género</h5>
        <span class="text-500">Gestiona las categorías de género disponibles para los perfiles de usuario.</span>
      </div>
    </div>
  </div>

  <form class="p-0" [formGroup]="formGender">
    <div class="grid">
      <div class="field p-fluid col-12 m-0">
        <label htmlFor="nombre" class="font-medium">Nombre</label>
        <input type="text" id="nombre" pInputText formControlName="nombre">
        <div *ngIf="nombreNoValido">
          <div *ngIf="controls['nombre'].errors?.['required']">
            <small class="p-error">Ingrese el nombre</small>
          </div>
        </div>
      </div>
    </div>
    <app-form-actions-button [updateMode]="updateMode" (createOrUpdate)="onSubmitGender($event)"
                            (cancel)="onCancelRol($event)" (delete)="onDeleteRol($event)"
                            [showDeleteButton]="updateMode"
                            [creatingOrUpdating]="creatingOrUpdating" [deleting]="deleting"
                            [disabledCreateOrUpdateButton]="formGender.invalid">
    </app-form-actions-button>
  </form>
</div>
