<ng-container *ngIf="!loading else sLoading">
    <div *ngIf="!((structures$ | async).length) else data">
        <app-go-to-if-not-found [imageSize]="IMAGE_SIZE.LARGE" [buttonLabel]="'Crear nueva dependencia'"(go)="openNew()" [message]="MESSAGE.NO_REGISTROS_PROCEDE_CREAR" [showButton]="isAdmin"></app-go-to-if-not-found>
    </div>
    <ng-template #data>
        <div class="grid grid-nogutter">
            <div *ngIf="dependencies$ | async as dependencies"  class="col-12" [ngClass]="{ 'md:col-6 md:pr-2': (dependency$ | async)?.id }">
                <div class="card p-0 ">
                    <p-treeTable  #treeTableDependency [value]="dependencies" selectionMode="checkbox" [(selection)]="selectedNodesOfDependency" (onNodeExpand)="onNodeExpand($event)" (onNodeCollapse)="onNodeCollapse($event)"
                     [globalFilterFields]="['nombre', 'descripcion']" responsiveLayout="scroll" [scrollable]="true" scrollHeight="500px" [tableStyle]="{ 'min-width': '400px' }">
                        <ng-template pTemplate="caption">
                            <div class="border-round-top-xl surface-100 p-3">
                                <p-menubar [model]="menuBarItems">
                                    <ng-template pTemplate="start">
                                        <button *ngIf="isAdmin" pButton pRipple icon="pi pi-plus" class="p-button-success m-1" (click)="openNew()" pTooltip="Nuevo" tooltipPosition="bottom">
                                            <span class="p-button-label hidden-lg pl-2">Nuevo</span>
                                        </button>
                                        <div *ngIf="isAdmin" class="_badge-container m-1 mr-2">
                                            <button pButton pRipple icon="pi pi-trash" style="position: relative;" (click)="deleteSelectedStructures(selectedNodesOfDependency, true)" pTooltip="Eliminar" tooltipPosition="bottom"
                                                class="p-button-danger " [disabled]="!totalSelected">
                                                <span class=" p-button-label pl-2 hidden-lg">Eliminar</span>
                                            </button>
                                            <span *ngIf="totalSelected"  (click)="desmarkAll(true)" class="_badge" pTooltip="Click para desmarcar">{{totalSelected}}</span>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="end">
                                        <span class="m-1 p-input-icon-left">
                                            <i class="pi pi-search"></i>
                                            <input type="search" pInputText placeholder="Buscar"  (input)="onFilter($event, true)">
                                        </span>
                                    </ng-template>
                                </p-menubar>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th class="text-center flex align-items-center justify-content-center " style="white-space: nowrap" ttSortableColumn="nombre" >
                                    {{dependencies[0].data.tipologia.nombre}}<p-treeTableSortIcon field="nombre"></p-treeTableSortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowNode let-structure="rowData">
                            <tr>
                                <td class="flex flex-row align-items-center">
                                    <p-treeTableToggler [rowNode]="rowNode" ></p-treeTableToggler>
                                    <p-treeTableCheckbox *ngIf="isAdmin" [value]="rowNode"></p-treeTableCheckbox>
                                    <div pRipple (click)="viewDependency(structure)" class="flex flex-column cursor-pointer">
                                        <div class="font-medium" [ngClass]="{'text-500': structure.idPadre, 'text-primary': structure.id == (dependency$ | async)?.id}">{{structure.nombre}}</div>
                                        <div class="text-500">{{structure.descripcion}}</div>
                                    </div>
                                    <div *ngIf="structure.menuItems?.length" style="margin-left: auto; ">
                                        <app-menu-item [menuItems]="structure.menuItems" [id]="structure.id" [value]="structure"></app-menu-item>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td class="text-center">{{MESSAGE.NO_REGISTROS}}</td>
                            </tr>
                        </ng-template>
                    </p-treeTable>
                    <div class="text-500 text-sm mx-2 mb-2 my-3">Lista de {{dependencies[0].data.tipologia.nombre  | lowercase | pluralize}}</div>
                </div>
            </div>
            <div *ngIf="dependency$ | async as dependency" class="col-12 pl-0 mt-2 md:mt-0 md:pl-2 md:col-6">
                <div *ngIf="dependency.id" class="card p-0">
                    <ng-container *ngTemplateOutlet="TemplateStructureInformation; context:{structure: dependency}"></ng-container>
                    <ng-container *ngIf="!loadingDependency else sLoadingDependency">
                        <div *ngIf="noDependencies$ | async as structures else sNoStructuresNoDependency" class="w-full mb-3">
                            <ng-container  *ngIf="structures?.length  else sNoStructuresNoDependency" >
                                <p-treeTable #treeTableOfStructuresNoDependency [value]="structures" selectionMode="checkbox" [(selection)]="selectedNodesOfStructuresNoDependency" (onNodeExpand)="onNodeExpand($event)" (onNodeCollapse)="onNodeCollapse($event)"
                                    [globalFilterFields]="['nombre', 'descripcion']" responsiveLayout="scroll" [scrollable]="true" [tableStyle]="{ 'min-width': '400px' }">
                                    <ng-template pTemplate="caption" let-structure="rowData">
                                        <div class="flex flex-wrap justify-content-between p-3">
                                            <div  class="flex align-items-center mb-2">
                                                <div *ngIf="isAdmin" class="_badge-container mr-2">
                                                    <button pButton pRipple icon="pi pi-trash" style="position: relative;" (click)="deleteSelectedStructures(selectedNodesOfStructuresNoDependency, false)" pTooltip="Eliminar" tooltipPosition="bottom"
                                                        class="p-button-danger" [disabled]="!totalSelectedStructuresNoDependency"> 
                                                    </button>
                                                    <span *ngIf="totalSelectedStructuresNoDependency"  (click)="desmarkAll(false)" class="_badge"
                                                        pTooltip="Click para desmarcar">{{totalSelectedStructuresNoDependency}}</span>
                                                </div>
                                                <i *ngIf="isAdmin" class="pi pi-bars p-toolbar-separator mr-2"></i>
                                                <app-menu-item *ngIf="dependencyMenuItems?.length" [menuItems]="dependencyMenuItems" [id]="dependency.id" [value]="dependency" [buttonClass]="'p-button-outlined'"></app-menu-item>
                                            </div>
                                            <div>
                                                <span class="p-input-icon-left">
                                                    <i class="pi pi-search"></i>
                                                    <input type="search" pInputText placeholder="Buscar"  (input)="onFilter($event, false)">
                                                </span>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th class="flex flex-row align-items-center">
                                                <i class="pi {{orderIsAscending ? 'pi-sort-numeric-up-alt' : 'pi-sort-numeric-down-alt' }} text-lg cursor-pointer" (click)="changeOrder($event)" pTooltip="Orden" tooltipPosition="bottom"></i>
                                                <span class="text-center w-full">Estructura</span>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowNode let-structure="rowData">
                                        <tr *ngIf="rowGroupMetadata.includes(structure.id)">
                                            <td class="flex flex-row align-items-center">
                                                <div class="flex flex-row align-items-center justify-content-center w-full">
                                                    <div class="w-2rem h-2rem mr-2 flex align-items-center justify-content-center bg-{{structure.tipologia.nombreColor}}-100 border-circle">
                                                        <i class="pi {{structure.tipologia.claseIcono}} text-md text-{{structure.tipologia.nombreColor}}-500"></i>
                                                    </div>
                                                    <span class="text-500">{{structure.tipologia.nombre | pluralize : numberOfElementsByStructure[structure.idPadre]}}</span>
                                                </div>
                                                <div style="margin-left: auto; ">
                                                    <p-badge [value]="numberOfElementsByStructure[structure.idPadre]" severity="info" pTooltip="Total" tooltipPosition="bottom"></p-badge>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr >
                                            <td class="flex flex-row align-items-center">
                                                <p-treeTableToggler [rowNode]="rowNode" ></p-treeTableToggler>
                                                <p-treeTableCheckbox  *ngIf="isAdmin" [value]="rowNode"></p-treeTableCheckbox>
                                                <div class="flex flex-column">
                                                    <div class="font-medium">{{structure.orden != null ? structure.orden + '. ' : ''}} {{structure.nombre}}</div>
                                                    <div class="text-500">{{structure.descripcion}}</div>
                                                </div>
                                                <div style="margin-left: auto; ">
                                                    <div class="flex align-items-center ml-3">
                                                        <button *ngIf="hasDetailToShow(structure)" (click)="detailMessage.toggle($event)" pButton pRipple icon="pi pi-info-circle" class="p-button-rounded p-button-text p-button p-component p-button-icon-only" pTooltip="Ver detalles" tooltipPosition="bottom"></button>
                                                        <app-menu-item *ngIf="structure.menuItems?.length" [menuItems]="structure.menuItems" [id]="structure.id" [value]="structure"></app-menu-item>
                                                    </div>
                                                    <p-overlayPanel #detailMessage [showCloseIcon]="false" [styleClass]="'w-full sm:w-9 xl:w-7'">
                                                        <ng-template pTemplate>
                                                            <div class="flex align-items-center mb-3">
                                                                <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                                                                    <i  class="pi pi-info-circle text-xl text-blue-500"></i>
                                                                </div>
                                                                <div class="flex flex-column ">
                                                                    <h5 class="m-0 text-700">Detalle</h5>
                                                                    <span class="text-500">Detalle de los tiempos laborados</span>
                                                                </div>
                                                            </div>
                                                            <ng-container *ngTemplateOutlet="TemplateStructureInformation; context:{structure: structure}"></ng-container>
                                                            <div *ngIf="structure.actividad as activity" class="grid grid-nogutter">
                                                                <div class="col-12 md:col-6 lg:col-3 p-1">
                                                                    <app-label-value-chart label="Frecuencia" [value]="activity.frecuencia" colorName="cyan" iconClass="pi-history"></app-label-value-chart>
                                                                </div>
                                                                <div class="col-12 md:col-6 lg:col-3  p-1">
                                                                    <app-label-value-chart label="Tiempo mínimo" [value]="activity.tiempoMinimo" colorName="red" iconClass="pi-clock">
                                                                        <ng-template pTemplate="value-content" let-data>
                                                                            <ng-container *ngTemplateOutlet="TemplateTime; context:{$implicit: data}"></ng-container>
                                                                        </ng-template>
                                                                    </app-label-value-chart>
                                                                </div>
                                                                <div class="col-12 md:col-6 lg:col-3  p-1">
                                                                    <app-label-value-chart label="Tiempo máximo" [value]="activity.tiempoMaximo" colorName="green" iconClass="pi-clock">
                                                                        <ng-template pTemplate="value-content" let-data>
                                                                            <ng-container *ngTemplateOutlet="TemplateTime; context:{$implicit: data}"></ng-container>
                                                                        </ng-template>
                                                                    </app-label-value-chart>
                                                                </div>
                                                                <div class="col-12 md:col-6 lg:col-3  p-1">
                                                                    <app-label-value-chart label="Tiempo usual" [value]="activity.tiempoPromedio" colorName="blue" iconClass="pi-clock">
                                                                        <ng-template pTemplate="value-content" let-data>
                                                                            <ng-container *ngTemplateOutlet="TemplateTime; context:{$implicit: data}"></ng-container>
                                                                        </ng-template>
                                                                    </app-label-value-chart>
                                                                </div>
                                                                <div class="col-12 flex flex-column border-round-xl text-center surface-100 py-2 mt-2">
                                                                    <span class="text-xl text-700 font-medium"> {{activity.nivel.descripcion}}</span>
                                                                    <span class="text-500 text-sm">Nivel de ocupación</span>
                                                                </div>
                                                            </div>
                                                        </ng-template>
                                                    </p-overlayPanel>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td class="text-center">{{MESSAGE.NO_REGISTROS}}</td>
                                        </tr>
                                    </ng-template>
                                </p-treeTable>
                                <div class="text-500 text-sm mx-2 mb-2 my-3">Lista de {{dependency.tipologia?.tipologiaSiguiente.nombre | lowercase | pluralize}}</div>
                            </ng-container>
                        </div>
                        <ng-template #sNoStructuresNoDependency>
                            <div class="mb-3">
                                <app-go-to-if-not-found
                                (go)="goToAddSubstructure(dependency)"
                                buttonLabel="Agregar {{dependency.tipologia?.tipologiaSiguiente.nombre | lowercase}}"
                                [imageSize]="IMAGE_SIZE.MEDIUM"
                                [showButton]="isAdmin"
                                [message]="MESSAGE.NADA_CONFIGURADO">
                            </app-go-to-if-not-found>
                            </div>
                        </ng-template>
                    </ng-container>
                    <ng-template #sLoadingDependency>
                        <app-loading classStyle="mb-3"></app-loading>
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-template>
</ng-container>

<ng-template #TemplateStructureInformation let-structure="structure">
    <div class="flex flex-column align-items-center text-center p-3">
        <ng-container *ngIf="structure.srcIcono else sNoIcon">
            <img [src]="structure.srcIcono" [alt]="structure.nombre" [appImageFallback]="'assets/content/images/image-fallback-structure.png'" class="h-5rem" />
        </ng-container>
        <ng-template #sNoIcon>
            <div class="w-5rem h-5rem flex align-items-center justify-content-center bg-{{structure.tipologia.nombreColor}}-100 border-circle">
                <i class="pi {{structure.tipologia.claseIcono}} text-4xl text-{{structure.tipologia.nombreColor}}-500"></i>
            </div>
        </ng-template>
        <span class="font-bold">{{structure.nombre}}</span>
        <span class="text-500">{{structure.descripcion}}</span>
        <span class="text-sm text-500">{{structure.tipologia?.nombre}}</span>
    </div>
</ng-template>

<ng-template #TemplateTime let-time>
    <div class="flex flex-row align-items-baseline">
        <span class="text-500 text-2xl font-medium">{{time | number:'1.0-2'}}</span>
        <span class="text-sm text-500 mr-2">min</span>
        <span class="text-500 text-2xl font-medium">{{(time / 60) | number:'1.0-2'}}</span>
        <span class="text-sm text-500">h</span>
    </div>
</ng-template>

<ng-template #sLoading>
    <app-skeleton-list-grid [isList]="true"></app-skeleton-list-grid>
</ng-template>

<p-overlayPanel #timeStatisticsOverlayPanel [showCloseIcon]="false"  [styleClass]="'w-full sm:w-9 md:w-6'">
    <ng-template pTemplate>
        <div class="flex align-items-center mb-3">
            <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                <i class="pi pi-info-circle text-xl text-blue-500"></i>
            </div>
            <div class="flex flex-column ">
                <h5 class="m-0 text-700">Estadística de tiempos laborados</h5>
                <span class="text-500">Detalle del tiempo y personal requerido por nivel ocupacional</span>
            </div>
        </div>

        <div class="flex align-items-center w-full mb-3">
            <div *ngIf="timeStatisticsStructure.srcIcono;" style="overflow: hidden; min-width: 3rem;" class="mr-2 w-5rem h-5rem ">
                <img [src]="timeStatisticsStructure.srcIcono" style="width: 100%; height: auto"/>
            </div>
            <div class="flex flex-column">
                <span class="font-medium">{{timeStatisticsStructure.nombre | uppercase}}</span>
                <span class="text-500 text-justify">{{timeStatisticsStructure.descripcion}}</span>
            </div>
        </div>

        <div *ngIf="!loadingTimeStatistics else sLoadingTimeStatistics" class="grid">
            <div class="col-12 flex align-items-center3">
                <ng-container *ngTemplateOutlet="statisticsSummarizeTemplate; context:{value: timeStatisticsSummarize.tiempoTotal, label: 'Horas requeridas', advance: timeStatisticsSummarize.porcentaje, icon: 'pi-clock'}"></ng-container>
                <ng-container *ngTemplateOutlet="statisticsSummarizeTemplate; context:{value: timeStatisticsSummarize.personalTotal, label: 'Personas requeridas', advance: timeStatisticsSummarize.porcentaje, icon: 'pi-users'}"></ng-container>
            </div>

            <div class="col-12 lg:col-6">
                <div class="text-500 text-center text-500 mb-2">Horas requeridas por nivel ocupacional</div>
                <app-bar-chart [labels]="timeStatisticsLevels" [data]="timeStatisticsTotalTimeByLevel"></app-bar-chart>
            </div>
            <div class="col-12 lg:col-6">
                <div class="text-500 text-center text-500 mb-2">Personal requerido por nivel ocupacional</div>
                <app-polar-chart [labels]="timeStatisticsLevels" [data]="timeStatisticsTotalStaff"></app-polar-chart>
            </div>
        </div>
        <ng-template #sLoadingTimeStatistics>
            <app-loading></app-loading>
        </ng-template>
    </ng-template>
</p-overlayPanel>

<ng-template #statisticsSummarizeTemplate let-label="label" let-value="value" let-icon="icon" let-advance="advance">
    <div class="card p-0 m-1 w-full h-full flex flex-column">
        <div class="p-3 pb-2 flex justify-content-between">
            <div class="mr-2 flex flex-column">
                <span class="text-4xl font-bold text-primary-500">{{value}}</span>
                <span class="text-500 -mt-2">{{label}}</span>
            </div>
            <div class="flex flex-shrink-0 align-items-center justify-content-center bg-primary-100 border-round w-3rem h-3rem">
                <i class="pi {{icon}} text-primary-500 text-3xl"></i>
            </div>
        </div>
        <div class="mt-auto">
            <p-progressBar [showValue]="false"  [value]="advance" [pTooltip]="advance + '%'" tooltipPosition="bottom" 
                [style]="{ height: '6px', 'border-top-left-radius': '0px', 'border-top-right-radius': '0px' }"></p-progressBar>
        </div>
    </div>
</ng-template>
