<ng-container *ngIf="!loading else sLoading">
    <div *ngIf="workplans?.length"  class="grid grid-nogutter mb-3">
      <div class="flex flex-column mb-2 mx-1 col-12">
        <h5 class="m-0 text-700">Planes de trabajos</h5>
        <span class="text-500">Resumen de información de interés de los planes de trabajos</span>
      </div>
      <div *ngFor="let workplan of workplans" class="col-12 md:col-6 lg:col-{{12/workplans.length}} p-1">
        <div class="card p-3 h-full">
          <div class="flex justify-content-between">
            <div class="mr-2">
              <div (mouseenter)="toggleIcon(true, iconInfo)" (mouseleave)="toggleIcon(false, iconInfo)" style="position: relative;">
                <span  #iconInfo (click)="loadAdvanceConsolidated(workplan.id, viewMode, $event, advanceConsolidatedOverlayPanel)" class="_badge" style="display: none;">
                  <i class="pi pi-info"></i>
                </span>
                <span (click)="loadAdvanceConsolidated(workplan.id, viewMode, $event, advanceConsolidatedOverlayPanel)" class="text-500 cursor-pointer">{{ workplan.nombre }}</span>
              </div>
              <div class="flex flex-row align-items-baseline">
                <span class="text-500 text-2xl font-medium mr-1">{{ workplan.totalEtapas | number:'1.0-2' }}</span>
                <span class="text-sm text-500 mr-2">{{ 'Etapa' | pluralize: workplan.totalEtapas }}</span>
                <span class="text-500 text-2xl font-medium mr-1">{{ workplan.totalTareas | number:'1.0-2' }}</span>
                <span class="text-sm text-500">{{ 'Tarea' | pluralize: workplan.totalTareas }}</span>
              </div>
              <p-overlayPanel #advanceConsolidatedOverlayPanel [showCloseIcon]="false" [styleClass]="'w-full sm:w-9 md:w-6'">
                <ng-template pTemplate>
                  <ng-container *ngTemplateOutlet="advanceCosolidatedTemplate"></ng-container>
                </ng-template>
              </p-overlayPanel>
            </div>
            <div class="ml-auto pl-2">
              <app-percent [value]="Math.round((workplan.avance ?? 0)*10)/10" shape="circle" labelPosition="center" [size]="55" [fontSize]="9"></app-percent>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="inventory?.length"  class="grid grid-nogutter">
        <div class="flex flex-column mb-2 mx-1 col-12">
          <h5 class="m-0 text-700">Estructuras</h5>
          <span class="text-500">Resumen de información de interés de las estructuras</span>
        </div>
        <div *ngFor="let item of inventory" class="col-12 sm:col-6 xl:col-{{12/inventory.length}} p-1">
            <app-label-value-chart label="{{item.nombre | pluralize}}" [value]="item.cantidad" colorName="{{item.nombreColor}}" iconClass="{{item.claseIcono}}">
                <ng-template pTemplate="value-content" let-data>
                    <ng-container *ngTemplateOutlet="workplanResumeTemplate; context:{$implicit: data}"></ng-container>
                </ng-template>
            </app-label-value-chart>
        </div>
    </div>
    <div *ngIf="!workplans?.length && !inventory?.length" class="col-12 w-full">
        <app-go-to-if-not-found [imageSize]="IMAGE_SIZE.LARGE" [message]="MESSAGE.NADA_CONFIGURADO" [showButton]="false"></app-go-to-if-not-found>
    </div>
</ng-container>

<app-charts *ngIf="isSuperAdmin"></app-charts>

<ng-template #sLoading>
  <app-head-skeleton></app-head-skeleton>
</ng-template>

<ng-template #workplanResumeTemplate let-item>
  <div class="flex flex-row align-items-baseline">
    <span class="text-500 text-2xl font-medium mr-1">{{item}}</span>
    <span class="text-sm text-500">{{'Existente' | pluralize : item}}</span>
  </div>
</ng-template>

<ng-template #advanceCosolidatedTemplate>
  <div class="flex align-items-center mb-3">
    <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
      <i  class="pi pi-chart-line text-xl text-blue-500"></i>
    </div>
    <div class="flex flex-column ">
      <h5 class="m-0 text-700">Consolidado de avance</h5>
      <span class="text-500">Detalle del avance en función del tiempo</span>
    </div>
  </div>

  <div class="flex align-items-center">
    <div class="flex flex-column">
      <span class="font-medium">{{datasetOfAdvanceConsolidated?.planTrabajo?.nombre | uppercase}}</span>
      <span class="text-500 text-justify">{{datasetOfAdvanceConsolidated?.planTrabajo?.descripcion}}</span>
    </div>
    <div class="ml-auto pl-2">
      <p-selectButton styleClass="flex flex-nowrap" [options]="timeTypeOptions" [(ngModel)]="viewMode" (ngModelChange)="onChangeTimeType($event)">
        <ng-template let-item pTemplate>
          <i [class]="item.icon" [pTooltip]="item.tooltip" tooltipPosition="bottom"></i>
        </ng-template>
      </p-selectButton>
    </div>
  </div>

  <ng-container *ngIf="!loadingAdvanceCosolidated else sLoadingAdvanceCosolidated">
    <app-line-chart *ngIf="datasetOfAdvanceConsolidated.labels?.length else sNoAdvanceConsolidated"
      label="Avance"
      yAxisTitle="Porcentaje de avance (%)"
      xAxisTitle="Fecha"
      [labels]="datasetOfAdvanceConsolidated.labels"
      [dataset]="datasetOfAdvanceConsolidated.dataset">
    </app-line-chart>
    <ng-template #sNoAdvanceConsolidated>
      <app-no-result [imageSize]="IMAGE_SIZE.LARGE" [message]="MESSAGE.NO_AVANCE_TAREAS"></app-no-result>
    </ng-template>
  </ng-container>
  <ng-template #sLoadingAdvanceCosolidated>
    <app-loading></app-loading>
  </ng-template>
</ng-template>
