<form class="p-0" [formGroup]="formRule">
    <div class="field p-fluid">
        <label htmlFor="nombre" class="font-medium">Nombre</label>
        <input pInputText id="nombre" type="text" aria-describedby="text-help" formControlName="nombre" />
        <div
            *ngIf="formRule.controls['nombre'].errors && (formRule.controls['nombre'].touched||formRule.controls['nombre'].dirty)">
            <div *ngIf="formRule.controls['nombre'].errors?.['required']">
                <small id="text-help" class="p-error">Ingresa un nombre</small>
            </div>
        </div>
    </div>

    <div class="field p-fluid">
        <label htmlFor="descripcion"><span class="font-medium">Descripción</span><span> (opcional)</span></label>
        <textarea id="descripcion" rows="5" cols="30" placeholder="Escribe aquí..." pInputTextarea
            formControlName="descripcion" autocomplete="off"></textarea>
        <div
            *ngIf="formRule.controls['descripcion'].errors && (formRule.controls['descripcion'].touched||formRule.controls['descripcion'].dirty)">
            <div *ngIf="formRule.controls['descripcion'].errors?.['required']">
                <small id="text-help" class="p-error">Ingresa una descripción</small>
            </div>
        </div>
    </div>

    <div class="grid grid-nogutter">
        <div class="field p-fluid flex flex-column col-12 md:col-6">
            <label htmlFor="global" class="font-medium mr-2">De uso general</label>
            <p-toggleButton formControlName="global" onLabel="Si" offLabel="No" [onIcon]="'pi pi-check'"
                offIcon="pi pi-times"></p-toggleButton>
        </div>
    </div>
            
    <div class="field p-fluid flex align-items-center">
        <label htmlFor="estado" class="font-medium mr-2">Estado</label>
        <p-inputSwitch id="estado" formControlName="estado"></p-inputSwitch>
    </div>

    <p-divider layout="horizontal" align="center" class="w-full">
        <span class="text-500">Especificación de las condiciones</span>
    </p-divider>

    <div class="mb-3 flex flex-wrap justify-content-center ">
        <span *ngFor="let variable of variables; let index = index" style="white-space: nowrap"
            class="border-round-3xl cursor-move surface-200 py-1 px-3 m-1" draggable="true"
            (dragstart)="onDragStart($event, variable.id)">
            {{ variable.nombre }}
        </span>
    </div>

    <div contenteditable="true" style="outline: none;"
        [ngClass]="{'border-red-600': hasErrors(formRule.get('condiciones')), 'surface-border': !hasErrors(formRule.get('condiciones'))}"
        id="editableInput" class="_expression-dinamic_ border-1 border-round p-3 mb-3"
        (input)="updateExpressionFromInputText($event)" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
    </div>

    <div class="px-3 py-2 flex align-items-center justify-content-center mb-3 surface-100 border-round">
        <app-expression [expression]="formRule.get('expresionCondiciones')?.value"></app-expression>
    </div>

    <app-form-action-button [updateMode]="updateMode" (createOrUpdate)="onSubmitRule($event)"
        (cancel)="onCancelRule($event)" (delete)="onDeleteRule($event)"
        [showDeleteButton]="updateMode && !formRule.get('primaria')?.value" [creatingOrUpdating]="creatingOrUpdating"
        [deleting]="deleting" [disabledCreateOrUpdateButton]="formRule.invalid">
    </app-form-action-button>

</form>