
<form class="p-0" [formGroup]="formStage">
    <div class="field p-fluid">
        <label htmlFor="nombre" class="font-medium">Nombre</label>
        <input pInputText id="nombre" type="text" aria-describedby="text-help" formControlName="nombre"/>
        <div *ngIf="formStage.controls['nombre'].errors && (formStage.controls['nombre'].touched||formStage.controls['nombre'].dirty)">
            <div *ngIf="formStage.controls['nombre'].errors?.['required']">
                <small id="text-help" class="p-error">Ingrese un nombre</small>
            </div>
        </div>
    </div>
    <div class="field p-fluid">
        <label htmlFor="descripcion"><span class="font-medium">Descripción</span><span> (opcional)</span></label>
        <textarea id="descripcion" rows="5" cols="30" placeholder="Escribe aquí..." pInputTextarea formControlName="descripcion"></textarea>
        <div *ngIf="formStage.controls['descripcion'].errors && (formStage.controls['descripcion'].touched||formStage.controls['descripcion'].dirty)">
            <div *ngIf="formStage.controls['descripcion'].errors?.['required']">
                <small id="text-help" class="p-error">Ingresa una descripción</small>
            </div>
        </div>
    </div>
    <app-form-action-button [updateMode]="updateMode"
        (createOrUpdate)="onSubmitStage($event)"
        (cancel)="onCancelStage($event)"
        (delete)="onDeleteStage($event)"
        [showDeleteButton] = "updateMode"
        [creatingOrUpdating] = "creatingOrUpdating"
        [deleting] = "deleting"
        [disabledCreateOrUpdateButton] = "formStage.invalid">
    </app-form-action-button>
  </form>

