<div class="card m-1 p-3">
  <div class="flex align-items-center mb-3">
    <div
      class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
      <i class="pi pi-users text-xl text-blue-500"></i>
    </div>
    <div class="flex flex-column ">
      <h5 class="m-0 text-700">{{ title }}</h5>
      <span class="text-500">{{ subtitle }}</span>
    </div>
  </div>
  <p-chart type="polarArea" [data]="polarData" [options]="polarOptions"></p-chart>
</div>
