<form [formGroup]="formCategory">
  <div class="field p-fluid">
    <label htmlFor="nombre" class="font-medium">Nombre</label>
    <input pInputText id="nombre" type="text" aria-describedby="text-help" formControlName="nombre"/>
    <div *ngIf="invalidField('nombre') && controls('nombre')">
      <small class="p-error">Ingresa un usuario</small>
    </div>
  </div>
    <div class="field p-fluid">
      <label htmlFor="descripcionC"><span class="font-medium">Descripción</span><span> (opcional)</span></label>
      <textarea id="descripcionC" rows="5" cols="30" placeholder="Escribe aquí..." pInputTextarea formControlName="descripcion"></textarea>
    </div>

  <app-form-action-button [deleting]="deleting"
                          [updateMode]="updateMode"
                          [showDeleteButton]="updateMode"
                          [creatingOrUpdating]="creatingOrUpdating"
                          (cancel)="onCancelCategory($event)"
                          (delete)="onDeleteCategory($event)"
                          (createOrUpdate)="onSubmitCategory($event)"
                          [disabledCreateOrUpdateButton]="formCategory.invalid">
  </app-form-action-button>

</form>
