<!--<form class="p-0" [formGroup]="formWorkplan">

  <div class="field p-fluid">
    <label htmlFor="nombre" class="font-medium">Nombre</label>
    <input pInputText id="nombre" type="text" aria-describedby="text-help" formControlName="nombre"/>
    <div *ngIf="nombreNoValido">
      <div *ngIf="controls['nombre'].errors?.['required']">
        <small class="p-error">Ingrese un nombre</small>
      </div>
    </div>
  </div>

  <div class="field p-fluid">
    <label htmlFor="descripcion"><span class="font-medium">Descripción</span><span> (opcional)</span></label>
    <textarea id="descripcion" rows="5" cols="30" placeholder="Escribe aquí..." pInputTextarea
              formControlName="descripcion"></textarea>
    <div *ngIf="descripcionNoValido">
      <div *ngIf="controls['descripcion'].errors?.['required']">
        <small class="p-error">Ingrese una descripcion</small>
      </div>
    </div>
  </div>

  <app-form-action-button [updateMode]="updateMode" (createOrUpdate)="onSubmitWorkplan($event)"
                          (cancel)="onCancelWorkplan($event)" (delete)="onDeleteWorkplan($event)"
                          [showDeleteButton]="updateMode" [creatingOrUpdating]="creatingOrUpdating"
                          [deleting]="deleting" [disabledCreateOrUpdateButton]="formWorkplan.invalid">
  </app-form-action-button>

</form>-->

<app-form-workplan [creatingOrUpdating]="creatingOrUpdating" [deleting]="deleting" [idObject]="idWorkplan"
                       [updateMode]="updateMode" [object]="workplan" (notifyCancelar)="onCancelWorkplan($event)"
                       (notifyCreate)="createWorkplan($event)" (notifyDelete)="onDeleteWorkplan($event)"
                       (notifyUpdate)="updateWorkplan($event)">
</app-form-workplan>
