
<form class="p-0" [formGroup]="formWorkplan">
  <div class="field p-fluid">
      <label htmlFor="nombre" class="font-medium">Nombre</label>
      <input pInputText id="nombre" type="text" aria-describedby="text-help" formControlName="nombre"/>
      <div *ngIf="formWorkplan.controls['nombre'].errors && (formWorkplan.controls['nombre'].touched||formWorkplan.controls['nombre'].dirty)">
          <div *ngIf="formWorkplan.controls['nombre'].errors?.['required']">
              <small id="text-help" class="p-error">Ingrese un nombre</small>
          </div>   
      </div>
  </div>

  <div class="field p-fluid">
      <label htmlFor="descripcion"><span class="font-medium">Descripción</span><span> (opcional)</span></label>
      <textarea id="descripcion" rows="5" cols="30" placeholder="Escribe aquí..." pInputTextarea formControlName="descripcion"></textarea>
      <div *ngIf="formWorkplan.controls['descripcion'].errors && (formWorkplan.controls['descripcion'].touched||formWorkplan.controls['descripcion'].dirty)">
          <div *ngIf="formWorkplan.controls['descripcion'].errors?.['required']">
              <small id="text-help" class="p-error">Ingresa una descripción</small>
          </div>   
      </div>
  </div>

  <app-form-action-button [updateMode]="updateMode"
      (createOrUpdate)="onSubmitWorkplan($event)"
      (cancel)="onCancelWorkplan($event)"
      (delete)="onDeleteWorkplan($event)"
      [showDeleteButton] = "updateMode"
      [creatingOrUpdating] = "creatingOrUpdating"
      [deleting] = "deleting"
      [disabledCreateOrUpdateButton] = "formWorkplan.invalid">
  </app-form-action-button>
</form>
