<form *ngIf="!loadingOrganizationChart else sLoadingOrganizationChart" class="p-0" [formGroup]="formOrganizationChart">
    <div class="field p-fluid">
      <label htmlFor="nombre" class="font-medium">Nombre</label>
      <input pInputText id="nombre" type="text" aria-describedby="text-help" formControlName="nombre"/>
      <div *ngIf="formOrganizationChart.controls['nombre'].errors && (formOrganizationChart.controls['nombre'].touched||formOrganizationChart.controls['nombre'].dirty)">
          <div *ngIf="formOrganizationChart.controls['nombre'].errors?.['required']">
              <small id="text-help" class="p-error">Ingrese un nombre</small>
          </div>
      </div>
  </div>

  <div class="field p-fluid">
      <label htmlFor="descripcion"><span class="font-medium">Descripción</span><span> (opcional)</span></label>
      <textarea id="descripcion" rows="5" cols="30" placeholder="Escribe aquí..." pInputTextarea formControlName="descripcion" autocomplete="off"></textarea>
  </div>

  <div class="mb-3">
    <ng-container *ngTemplateOutlet="normativityOptionTemplate; context: {normativity: formOrganizationChart.get('normatividad').value}"></ng-container>
  </div>

  <div class="field p-fluid">
    <label htmlFor="archivo"><span class="font-medium">Diagrama</span><span> (opcional)</span></label>
    <p-fileUpload #fileUpload id="archivo" [showUploadButton]="false" [showCancelButton]="false" [multiple]="false"
        accept="image/*" [maxFileSize]="5000000" (onSelect)="onSelectFile($event)" (onRemove)="onRemoveFile($event)" chooseLabel="Seleccionar">
        <ng-template pTemplate="content">
            <div class="flex justify-content-between align-items-center text-center p-3"  *ngIf="organizationChart?.srcDiagrama && uploadedFiles.length < 1" >
                <img [src]="organizationChart.srcDiagrama" [alt]="organizationChart.nombre" appImageFallback height="50px"/>
                <span class="flex-grow-1">Diagrama del organigrama</span>
                <span class="flex-grow-1">--</span>
                <i class="pi pi-check text-green-500 text-2xl font-bold"></i>
            </div>
        </ng-template>
    </p-fileUpload>
  </div>
  
  <app-form-action-button [updateMode]="updateMode"
      (createOrUpdate)="onSubmitOrganizationChart($event)"
      (cancel)="onCancelOrganizationChart($event)"
      (delete)="onDeleteOrganizationChart($event)"
      [showDeleteButton] = "updateMode"
      [creatingOrUpdating] = "creatingOrUpdating"
      [deleting] = "deleting"
      [disabledCreateOrUpdateButton] = "formOrganizationChart.invalid">
  </app-form-action-button>
</form>

<ng-template #sLoadingOrganizationChart>
  <app-loading></app-loading>
</ng-template>

<ng-template #normativityOptionTemplate let-normativity="normativity">
  <div class="flex flex-column md:flex-row align-items-center w-full">
      <label htmlFor="archivo"><span class="font-medium">Normatividad</span><span> (opcional)</span></label>
      <div style="margin-left: auto; ">
          <button *ngIf="formOrganizationChart?.value.idNormatividad" (click)="removeNormativity()" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-text"  pTooltip="Remover" tooltipPosition="bottom"></button>
          <button *ngIf="formOrganizationChart?.value.idNormatividad" (click)="onGoToUpdateNormativity(normativity.id, $event)" pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-secondary p-button-text"  pTooltip="Editar" tooltipPosition="bottom"></button>
          <button pButton pRipple type="button" (click)="openNewNormativity()" icon="pi pi-plus" class="p-button-rounded p-button-success p-button-text"  pTooltip="Crear" tooltipPosition="bottom"></button>
          <button pButton pRipple type="button" icon="pi pi-angle-down" class="p-button-rounded p-button-info p-button-text"  label="Normatividades"  (click)="normativityOptionsOverlayPanel.toggle($event)"></button>
          <p-overlayPanel #normativityOptionsOverlayPanel [showCloseIcon]="true">
              <ng-template pTemplate>
                  <p-listbox [options]="normativityOptions" [filter]="true" title="Normatividades"
                      [emptyMessage]="MESSAGE.NO_REGISTROS" [emptyFilterMessage]="MESSAGE.NO_REGISTROS"
                      [style]="{'max-height':'250px', 'overflow':'auto'}"
                      (onClick)="changeNormativity($event)">
                  </p-listbox>
              </ng-template>
          </p-overlayPanel>
      </div>
  </div> 

  <div *ngIf="normativity; else sNoNormativity" class="surface-100 border-round p-3 mt-2">
      <div class="flex align-items-center">
          <span class="text-500">{{normativity.nombre | uppercase}}</span>
          <button (click)="showDetailOfNormativity(detailOfNormativity, $event)"  pButton pRipple icon="pi pi-eye"
              class="ml-auto p-button-rounded p-button-text p-button p-component p-button-icon-only" pTooltip="Ver detalles" tooltipPosition="bottom"></button>
      </div>
      <div #detailOfNormativity style="display: none; max-height: 500px; overflow-y: auto;" class="ql-snow w-full">
          <div class="ql-editor" [innerHTML] ="normativity?.descripcion ?? '' | sanitizeHtml"></div>
      </div>
  </div>
  <div *ngIf="formOrganizationChart.controls['idNormatividad'] && formOrganizationChart.controls['idNormatividad'].errors && (formOrganizationChart.controls['idNormatividad'].touched || formOrganizationChart.controls['idNormatividad'].dirty)">
      <div *ngIf="formOrganizationChart.controls['idNormatividad'].errors?.['required']">
          <small id="text-help" class="p-error">Seleccione una normatividad sobre la que se soporta la asignación laboral</small>
      </div>  
  </div>
  <ng-template #sNoNormativity>
      <app-no-result [imageSize]="IMAGE_SIZE.LARGE" [message]="MESSAGE.NO_NORMATIVIDAD_ASOCIADA"></app-no-result>
  </ng-template>
</ng-template>