<div class="card">
  <div class="flex align-items-center justify-content-between mb-4">
    <div class="flex align-items-center">
      <div
        class="w-3rem h-3rem flex align-items-center justify-content-center bg-primary-100 border-circle mr-3 flex-shrink-0">
        <i class="pi pi-id-card text-xl text-primary-500"></i>
      </div>
      <div class="flex flex-column ">
        <h5 class="m-0 text-700">Tipo documento</h5>
        <span class="text-500">Configura y gestiona los tipos de documentos permitidos.</span>
      </div>
    </div>
  </div>

  <form class="p-0" [formGroup]="formDocumentType">
    <div class="grid">
      <div class="field p-fluid col-12 xl:col-6 m-0">
        <label htmlFor="descripcion" class="font-medium">Descripcion</label>
        <input type="text" id="descripcion" pInputText formControlName="descripcion">
        <div *ngIf="descripcionNoValido">
          <div *ngIf="controls['descripcion'].errors?.['required']">
            <small class="p-error">Ingrese la descripcion</small>
          </div>
        </div>
      </div>
      <div class="field p-fluid col-12 xl:col-6 m-0">
        <label htmlFor="abreviatura" class="font-medium">Abreviatura</label>
        <input type="text" id="abreviatura" pInputText formControlName="abreviatura">
        <div *ngIf="abreviaturaNoValido">
          <div *ngIf="controls['abreviatura'].errors?.['required']">
            <small class="p-error">Ingrese la abreviatura</small>
          </div>
        </div>
      </div>
    </div>
    <app-form-actions-button [updateMode]="updateMode" (createOrUpdate)="onSubmitDocumentType($event)" (cancel)="onCancelRol($event)"
                             (delete)="onDeleteDocumentType($event)" [showDeleteButton]="updateMode" [creatingOrUpdating]="creatingOrUpdating"
                             [deleting]="deleting" [disabledCreateOrUpdateButton]="formDocumentType.invalid">
    </app-form-actions-button>
  </form>
</div>
