<div class="grid">

  <div class="col-12 md:col-4">
    <div class="card">
      <div class="flex flex-column align-items-center text-center">
        <div class="_button-container">
          <div class="mb-3" style="width: 100px; height: 100px; border-radius: 50%; overflow: hidden; ">
            <img [src]="person?.srcFoto" [appImageFallback]="'assets/content/images/image-fallback-perfil.png'"
                 style="vertical-align: middle; width: 100%; height: auto;" alt=""/>
          </div>
        </div>
        <span *ngIf="person.primerNombre"
              class="font-bold">{{ (person.primerNombre + ' ' + person.segundoNombre + ' ' + person.primerApellido + ' ' + person.segundoApellido) | uppercase }}</span>
        <span *ngIf="person.documento"
              class="mb-3"><span>{{ person.tipoDocumento?.abreviatura }}</span> {{ person.documento }}</span>
        <span *ngIf="person.id" class="mb-2 font-medium text-500 ">Información de contacto</span>
        <span *ngIf="person.correo" class="w-full text-left"><span
          class="text-500">Correo: </span> {{ person.correo | lowercase }}</span>
        <span *ngIf="person.telefono" class="w-full text-left"><span
          class="text-500">Teléfono: </span>{{ person.telefono }}</span>
      </div>
    </div>
  </div>

  <div class="col-12 md:col-8">
    <div class="grid">
      <div class="col-12">
        <div class="card">
          <h5 class="text-700">Gestión de acceso</h5>
          <p-steps [model]="routeItems" styleClass="mt-5" [readonly]="true"></p-steps>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
