<div class="grid">
  <div class="col-12 md:col-5">
    <div class="_card-background"></div>
    <div class="_profile-card">
      <div class="_button-container">
        <div class="mb-3 _image-container -mt-8">
          <img id="avatarPerson" [src]="person?.srcFoto" [appImageFallback]="'assets/content/images/image-fallback-perfil.png'"/>
        </div>
      </div>
      <span *ngIf="person.primerNombre" class="font-bold text-primary-500">{{ (person.primerNombre + ' ' + person.segundoNombre + ' ' + person.primerApellido + ' ' + person.segundoApellido) | uppercase }}</span>
      <span *ngIf="person.documento" class="text-500"><span>{{ person.tipoDocumento?.abreviatura }}:</span> {{ person.documento }}</span>
      <div *ngIf="person.id" class="flex mr-auto mt-4 mb-3">
        <div class="flex flex-shrink-0 align-items-center justify-content-center bg-primary-100 border-round w-3rem h-3rem">
          <i class="pi pi-info-circle text-primary-500 text-xl"></i>
        </div>
        <div class="flex flex-column ml-2 text-left">
          <span>Información</span>
          <span class="text-500 text-sm">Detalles personales y de contacto</span>
        </div>
      </div>
      <div *ngIf="person.correo" class="mr-auto ml-4 mb-2 flex align-items-center">
        <div class="flex flex-shrink-0 align-items-center justify-content-center bg-gray-200 border-circle w-2rem h-2rem">
          <i class="pi pi-envelope text-500"></i>
        </div>
        <span class="ml-2 text-500">{{ person.correo | lowercase }}</span>
      </div>
      <div *ngIf="person.telefono" class="mr-auto ml-4 mb-2 flex align-items-center">
        <div class="flex flex-shrink-0 align-items-center justify-content-center bg-gray-200 border-circle w-2rem h-2rem">
          <i class="pi pi-phone text-500"></i>
        </div>
        <span class="ml-2 text-500">{{ person.telefono }}</span>
      </div>
      <div *ngIf="person.genero" class="mr-auto ml-4 flex align-items-center">
        <div class="flex flex-shrink-0 align-items-center justify-content-center bg-gray-200 border-circle w-2rem h-2rem">
          <i class="pi pi-circle text-500"></i>
        </div>
        <span class="ml-2 text-500">{{ person.genero.nombre }}</span>
      </div>
      <div *ngIf="person.id" class="flex mr-auto mt-4 mb-3">
        <div class="flex flex-shrink-0 align-items-center justify-content-center bg-primary-100 border-round w-3rem h-3rem">
          <i class="pi pi-key text-primary-500 text-xl"></i>
        </div>
        <div class="flex flex-column ml-2 text-left">
          <span>Roles de acceso</span>
          <span class="text-500 text-sm">Roles de acceso en el aplicativo</span>
        </div>
      </div>
      <ng-container *ngIf="person.id">
        <div *ngIf="person.usuario?.roles?.length else sNoRoles" class="flex flex-wrap align-items-center justify-content-center">
          <p-chip *ngFor="let rol of person.usuario.roles" label="{{rol.nombre}}" icon="{{getRoleIcon(rol.codigo)}}" styleClass="m-1 text-500 surface-100"></p-chip>
        </div>
        <ng-template #sNoRoles>
          <app-no-result [imageSize]="IMAGE_SIZE.MEDIUM" [message]="MESSAGE.NO_REGISTROS"></app-no-result>
        </ng-template>
      </ng-container>
    </div>
  </div>
  <div class="col-12 md:col-7">
    <div class="grid">
      <div class="col-12">
        <div class="card">
          <div class="flex align-items-center justify-content-between mb-4">
            <div class="flex align-items-center">
              <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-primary-100 border-circle mr-3 flex-shrink-0">
                <i class="pi pi-shield text-xl text-primary-500"></i>
              </div>
              <div class="flex flex-column">
                <h5 class="m-0 text-700">Gestión de acceso</h5>
                <span class="text-500">Configura y administra el acceso al sistema</span>
              </div>
            </div>
          </div>
          <p-steps [model]="routeItems" styleClass="mt-5" [readonly]="true"></p-steps>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
