<div class="card">
    <div class="flex align-items-center justify-content-between mb-4">
      <div class="flex align-items-center">
        <div
          class="w-3rem h-3rem flex align-items-center justify-content-center bg-primary-100 border-circle mr-3 flex-shrink-0">
          <i class="pi pi-id-card text-xl text-primary-500"></i>
        </div>
        <div class="flex flex-column ">
          <h5 class="m-0 text-700">Documento</h5>
          <span class="text-500">Configura y administra el tipo de documento</span>
        </div>
      </div>
    </div>
  
    <form class="p-0" [formGroup]="formDocumentType">
      <div class="grid">
        <div class="field p-fluid col-12 xl:col-6 m-0">
          <label htmlFor="descripcion" class="font-medium">Descripción</label>
          <textarea id="descripcion" rows="5" cols="30" placeholder="Escribe aquí..." pInputTextarea formControlName="descripcion" autocomplete="off"></textarea>
          <div *ngIf="descripcionNoValido">
            <div *ngIf="controls['descripcion'].errors?.['required']">
              <small class="p-error">Ingrese una descripción</small>
            </div>
          </div>
        </div>
        <div class="field p-fluid col-12 xl:col-6 m-0">
          <label htmlFor="abreviatura" class="font-medium">Abreviatura</label>
          <input type="text" id="abreviatura" pInputText formControlName="abreviatura">
          <div *ngIf="abreviaturaNoValido">
            <div *ngIf="controls['abreviatura'].errors?.['required']">
              <small class="p-error">Ingrese una abreviatura</small>
            </div>
          </div>
        </div>
      </div>
      <app-form-action-button [updateMode]="updateMode"
                               (createOrUpdate)="onSubmitDocumentType($event)"
                              (cancel)="onCancelDocumentType($event)"
                               (delete)="onDeleteDocumentType($event)"
                              [showDeleteButton]="updateMode"
                              [creatingOrUpdating]="creatingOrUpdating"
                               [deleting]="deleting"
                              [disabledCreateOrUpdateButton]="formDocumentType.invalid">
      </app-form-action-button>
    </form>
  </div>
  