:host  ::ng-deep .p-menubar{
  padding: 0px;
  border: none;
  background-color: var(--surface-100);
}

:host  ::ng-deep ul.p-menubar-root-list > li > a {
  padding: 1rem !important;
}

:host ::ng-deep .p-organizationchart-node-content{
  padding: 0;
}

::ng-deep  .p-listbox-empty-message{
  text-align: center;
}