<ng-container *ngIf="!loading else sLoading">
  <div *ngIf="!(organizationalCharts) else data">
    <app-go-to-if-not-found [imageSize]="IMAGE_SIZE.LARGE" [buttonLabel]="'Crear nuevo organigrama'" (go)="openNew()" [message]="MESSAGE.NO_REGISTROS_PROCEDE_CREAR" [showButton]="isAdmin"></app-go-to-if-not-found>
  </div>
  <ng-template #data>
    <div *ngIf="organizationalCharts" class="flex justify-content-center overflow-x-auto">

      <div class="mb-0 w-full">
        <div class="flex justify-content-between mb-3">
          <div>
            <span></span>
          </div>
          <div class="flex align-items-center justify-content-center">
            <button *ngIf="isAdmin && !dataset" pButton pRipple icon="pi pi-plus" class="p-button-success m-1" (click)="openNew()" pTooltip="Nuevo" tooltipPosition="bottom">
              <span class="p-button-label hidden-lg pl-2">Nuevo</span>
            </button>
            <button *ngIf="isAdmin && dataset" pButton pRipple icon="pi pi-replay" class="p-button-secondary m-1" (click)="listOrganizationChart()" pTooltip="Nuevo" tooltipPosition="bottom">
              <span class="p-button-label hidden-lg pl-2">Volver</span>
            </button>
          </div>
        </div>
        <div *ngIf="!dataset" class="flex flex-wrap justify-content-center gap-4">
          <div *ngFor="let organigrama of organizationalCharts" class="p-3 text-center cursor-pointer bg-blue-100 border-round" title="Ver organigrama" (mouseenter)="toggleIcon(true, iconInfo)" (mouseleave)="toggleIcon(false, iconInfo)">
            <div (click)="viewOrganizationChart(organigrama)">
              <div class="font-bold">{{ organigrama.nombre }}</div>
              <div>{{ organigrama.descripcion }}</div>
            </div>
            <span #iconInfo class="_badge" style="display: none;">
              <app-menu-item *ngIf="isAdmin" [menuItems]="menuItems" [id]="organigrama.id" [value]="organigrama" [buttonClass]="'p-button-rounded'"></app-menu-item>
            </span>
          </div>
        </div>
        <div *ngIf="dataset" class="w-full">
          <p-organizationChart [value]="dataset">
            <ng-template let-node pTemplate="person">
              <div class="text-center" (mouseenter)="toggleIcon(true, iconInfo)" (mouseleave)="toggleIcon(false, iconInfo)">
                <div class="font-bold">{{ node.data.nombre }}</div>
                <div>{{ node.data.descripcion }}</div>
                <span #iconInfo class="_badgeChart" style="display: none;">
                <app-menu-item *ngIf="isAdmin" [menuItems]="menuItems" [id]="node.data.id" [value]="node.data" [buttonClass]="'p-button-rounded'"></app-menu-item>
              </span>
              </div>
            </ng-template>
          </p-organizationChart>
        </div>
      </div>



    </div>
  </ng-template>
</ng-container>
<ng-template #sLoading>
  <app-skeleton-list-grid [isList]="true"></app-skeleton-list-grid>
</ng-template>

